<phpunit
  backupGlobals="false"
  backupStaticAttributes="false"
  bootstrap="bootstrap.php"
  convertErrorsToExceptions="true"
  convertNoticesToExceptions="true"
  convertWarningsToExceptions="true"
  colors="true"
  >
  <php>
    <ini name="error_reporting" value="-1" />
  </php>
    <testsuites>
        <testsuite name="default"><directory>tests</directory></testsuite>
    </testsuites>
</phpunit>
